@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none; /* Prevents bounce effect on iOS */
  touch-action: manipulation; /* Disables double-tap zoom */
}

button {
  cursor: pointer;
  border: 2;
  border-color: #d1d5dc;
  border-radius: 0.5rem;
  font-size: large;
  font-weight: bold;
}
